.DS_Store
MUJOCO_LOG.TXT
__pycache__
robosuite
build
dist
*.egg-info
docs/build
docs_backup
pykin
result_images/
benchmark1_result/
benchmark2_result/
benchmark3_result/
benchmark4_result/
*.mp4
*.avi
bench1_scene/
bench2_scene/
bench3_scene/
bench4_scene/
bench1_planner/
bench2_planner/
bench3_planner/
bench4_planner/
